<div class="form-group">
    <div class="col-sm-4 {{ (form.streetNumber.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.streetNumber) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 {{ (form.streetLine1.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.streetLine1) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 {{ (form.streetLine2.vars.errors|length) ? 'has-error' }}">
        {{ form_widget(form.streetLine2) }}
        {{ form_errors(form.streetLine2) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 {{ (form.streetLine3.vars.errors|length) ? 'has-error' }}">
        {{ form_widget(form.streetLine3) }}
        {{ form_errors(form.streetLine3) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 {{ (form.streetLine4.vars.errors|length) ? 'has-error' }}">
        {{ form_widget(form.streetLine4) }}
        {{ form_errors(form.streetLine4) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 {{ (form.cityName.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.cityName) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5 {{ (form.zipCode.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.zipCode) }}
    </div>
    <div class="col-sm-5 {{ (form.cityCode.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.cityCode) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5 {{ (form.departement.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.departement) }}
    </div>
    <div class="col-sm-5 {{ (form.country.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.country) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 ">
        {{ form_row(form.phoneCode) }}
    </div>
    <div class="col-sm-4 {{ (form.phoneNumber.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.phoneNumber) }}
    </div>
    <div class="col-sm-4 {{ (form.faxNumber.vars.errors|length) ? 'has-error' }}">
        {{ form_row(form.faxNumber) }}
    </div>
</div>
