<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sitar{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('logo_sites.png') }}" />

        {% stylesheets filter="cssrewrite" output="bootstrap/bootstrap.css"
            "%kernel.root_dir%/Resources/bootstrap/bootstrap.scss"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <img class="navbar-logo" alt="Logo" src="{{ asset('logo_sites.png') }}">
                        <a class="navbar-brand" href="{{ path('site_search') }}">Sitar</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('site_search') }}">
                                    Rechercher des sites
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('site_new') }}">
                                    Ajouter un site
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>
                                    <a href="{{ path('_logout') }}">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        Déconnexion
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <p class="navbar-text navbar-right navbar-user">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                Connecté en tant que {{ app.user.username }}
                            {% endif %}
                        </p>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        {% endblock %}

        {% block body %}
        <div class="container">

            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        {% javascripts  output="js/jquery.js" "../vendor/frameworks/jquery/jquery.min.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts output="bootstrap/bootstrap.js"
            "../vendor/twbs/bootstrap-sass/assets/javascripts/bootstrap/alert.js"
            "../vendor/twbs/bootstrap-sass/assets/javascripts/bootstrap/button.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
