// bootstrap specific variable. set to false if not using ruby + asset pipeline / compass.

// Global values
// --------------------------------------------------

// Grays
// -------------------------

$brand-primary:         #555555;

// Navbar
// -------------------------

$navbar-default-color:             #8FA2CD;
$navbar-default-bg:                #2E4172;


$navbar-default-link-color:                #FFF;
$navbar-default-link-hover-color:          #8FA2CD;
$navbar-default-link-hover-bg:             transparent;

// Panel
// -------------------------

$panel-default-text:          #FFF;
$panel-default-border:        #060D21;
$panel-default-heading-bg:    #667392;


// Iconography
// -------------------------
$icon-font-path: "fonts/bootstrap/";
