.well-login {
    width:350px;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px -150px 0 -75px;
}

.well-logo {
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -330px;
}

.well-logo img {
    width:250px;
    margin:5px;
}

.logo-transparent-right {
    float: right;
    opacity:0.2;
}

.logo-transparent-right img {
    width:220px;
    margin-right:20px;
}

