{% extends '::base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="well-logo">
        <img src={{ asset('logo_sites.png') }} />
    </div>
    <div class="well well-lg well-login">
        <form class="" action="{{ path('_login_check') }}" method="post" role="form">
            <h2 class="remove-margin-top">Connexion</h2>
            <input type="hidden" name="_csrf_token" value="" />

            <div class="form-group">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Nom d'utilisateur"/>
            </div>

            <div class="form-group {% if error %} has-error{% endif %}">
                <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Mot de passe"/>
            </div>

            {% if error %}
                <div class="form-group has-error">
                    <label class="control-label">{{ error.message|trans({}, 'security') }}</label>
                </div>
            {% endif %}

            <button class="btn btn-lg btn-success btn-block" type="submit" id="submit" name="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
