{% extends 'base.html.twig' %}

{% trans_default_domain 'AFTSiteBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('datetimepicker/css/datetimepicker.min.css') }}">
{% endblock %}

{% block content %}
    <div role="form" class="form-horizontal">
    {{ form_start(form) }}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">{{ site.corporateName }}</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <strong>{{'label.site.corporateName'|trans }}</strong>
                            </div>
                            <div class="col-sm-9">
                                {{ site.corporateName }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <strong>{{'label.site.code'|trans }}</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ site.code }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{'label.site.name'|trans }}</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ site.name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <strong>{{'label.site.type'|trans }}</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ site.type.label }}
                            </div>
                            <div class="col-sm-3">
                                <strong>{{'label.site.locality'|trans }}</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ site.locality|default('NC') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <strong>{{'label.site.supervisor'|trans }}</strong>
                            </div>
                            <div class="col-sm-9">
                                {{ (site.supervisor) ? site.supervisor.lastname ~ ' ' ~ site.supervisor.firstname : 'NC' }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                {{ form_label(form.successor) }}
                            </div>
                            <div class="col-sm-9 {{ (form.successor.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_widget(form.successor) }}
                                {{ form_errors(form.successor) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <strong>{{'label.site.beginingActivityAt'|trans }}</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ site.beginingActivityAt|date('d/m/Y') }}
                            </div>
                            <div class="col-sm-offset-1 col-sm-2">
                                {{ form_label(form.disabledAt) }}
                            </div>
                            <div class="col-sm-3 {{ (form.disabledAt.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_widget(form.disabledAt) }}
                                {{ form_errors(form.disabledAt) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-danger" type="submit">
                            <span class="glyphicon glyphicon-remove"></span> {{'button.disable'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datetimepicker/js/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datetimepicker/js/datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $('.datePickerEnd').datetimepicker({
            locale: 'fr',
            format: 'DD/MM/YYYY',
            useCurrent: false,
        });
        var minDatePicker = "{{ site.beginingActivityAt|date('d/m/Y') }}";
        $('.datePickerEnd').data("DateTimePicker").minDate(minDatePicker);
    </script>
{% endblock %}
