{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('datetimepicker/css/datetimepicker.min.css') }}">
{% endblock %}

{% block content %}
    <div role="form" class="form-horizontal">
    {{ form_start(form) }}
        <div class="row">
            <h2>
                {% if 'edit' == type %}
                    {{ site.corporateName }}
                {% else %}
                    Ajouter un site
                {% endif %}
            </h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-6 {{ (form.corporateName.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.corporateName) }}
                            </div>
                            <div class="col-sm-6 {{ (form.name.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 {{ (form.code.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.code) }}
                            </div>
                            <div class="col-sm-4 {{ (form.type.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.type) }}
                            </div>
                            <div class="col-sm-4 {{ (form.beginingActivityAt.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.beginingActivityAt) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 {{ (form.supervisor.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.supervisor) }}
                            </div>
                            <div class="col-sm-6 {{ (form.parent.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.parent) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 {{ (form.locality.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.locality) }}
                            </div>
                            <div class="col-sm-6 {{ (form.openingTime.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.openingTime) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 {{ (form.websiteUrl.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.websiteUrl) }}
                            </div>
                            <div class="col-sm-6 {{ (form.mail.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.mail) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {% if 'edit' == type %}
                            <div class="col-sm-6 {{ (form.domain.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.domain) }}
                            </div>
                            {% endif %}
                            <div class="col-sm-6 {{ (form.subjectTva.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_widget(form.subjectTva) }} {{ form_label(form.subjectTva) }}
                            </div>
                        </div>
                        {% if 'edit' == type %}
                        <div class="form-group">
                            <div class="col-sm-6 {{ (form.activityNumber.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.activityNumber) }}
                            </div>
                            <div class="col-sm-6 {{ (form.codeApeNaf.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.codeApeNaf) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 {{ (form.numSiren.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.numSiren) }}
                            </div>
                            <div class="col-sm-4 {{ (form.numIc.vars.errors|length > 0) ? 'has-error' }}">
                                {{ form_row(form.numIc) }}
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <label for="aft_site_numSiret" class="control-label">
                                        SIRET
                                    </label>
                                    <input type="text" class="form-control" id="aft_site_numSiret" readonly>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <p>
                        {{ form_row(form.submit) }}
                    </p>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            // Auto fill SIRET
            function autoFillSiret(field) {
                var siret = $('#aft_site_numSiret');

                $(field).keyup(function() {
                    var siren = $('#aft_site_numSiren').val();
                    var ic = $('#aft_site_numIc').val();

                    $('#aft_site_numSiret').val(siren + ' ' + ic);
                }).keyup();
            }

            autoFillSiret('#aft_site_numSiren');
            autoFillSiret('#aft_site_numIc');
        });
    </script>
    <script type="text/javascript" src="{{ asset('datetimepicker/js/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datetimepicker/js/datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $('.datePickerBegin').datetimepicker({locale: 'fr',format: 'DD/MM/YYYY'});
    </script>
{% endblock %}
