{% extends 'base.html.twig' %}

{% block content %}
    <div role="form" class="form-horizontal">
    {{ form_start(form) }}
        <div class="row">
            <h2>
                {{ site.corporateName }}
            </h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if 'address' == component %}
                        <div class="col-md-12" id="address">
                            {% for address in form.addresses %}
                                <div id="address{{ loop.index }}-fieldset" class="col-md-6">
                                    <strong>Adresse {{ loop.index }}</strong>
                                    {{ include('AFTSiteBundle:Form:adressesPrototype.html.twig', { 'form': address }) }}
                                </div>
                            {% endfor %}
                            <div id="aft_site_comp_addresses" data-prototype="{% filter escape %}{{ include('AFTSiteBundle:Form:adressesPrototype.html.twig', { 'form': form.addresses.vars.prototype }) }}{% endfilter %}"></div>
                            {{ form_row(form.addresses, {'label_attr': {'class': 'hide'}}) }}
                        </div>
                        <a href="#" id="remove-address" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                                Supprimer une adresse
                        </a>
                        <a href="#" id="add-address" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                                Ajouter une adresse
                        </a>
                    {% elseif 'bank' == component %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12 {{ (form.bank.bankName.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.bankName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.bank.branchCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.branchCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.bank.sortCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.sortCode) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.bank.accountNumber.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.accountNumber) }}
                                </div>
                                <div class="col-sm-6 {{ (form.bank.ribKey.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.ribKey) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 {{ (form.bank.iban.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.iban) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 {{ (form.bank.tvaIntracomNumber.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.bank.tvaIntracomNumber) }}
                                </div>
                            </div>
                        </div>
                    {% elseif 'billing' == component %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.billing.year.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.year) }}
                                </div>
                                <div class="col-sm-6 {{ (form.billing.domain.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.domain) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.billing.team.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.team) }}
                                </div>
                                <div class="col-sm-6 {{ (form.billing.teamId.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.teamId) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.billing.mention.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.mention) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.billing.mode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.billing.mode) }}
                                </div>
                            </div>
                        </div>
                    {% elseif 'property' == component %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.adonixCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.adonixCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.aftManagementCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.aftManagementCode) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.territoryCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.territoryCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.iftimManagementCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.iftimManagementCode) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.selligentCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.selligentCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.aftralManagementCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.aftralManagementCode) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.transportCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.transportCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.backgroundColor.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.backgroundColor) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.logisticCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.logisticCode) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.textColor.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.textColor) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.cqcNumber.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.cqcNumber) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.adCode.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.adCode) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 {{ (form.property.cadrNumber.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.cadrNumber) }}
                                </div>
                                <div class="col-sm-6 {{ (form.property.serverIp.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.serverIp) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-6 col-sm-6 {{ (form.property.serverName.vars.errors|length) ? 'has-error' }}">
                                    {{ form_row(form.property.serverName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-6 col-sm-6 {{ (form.property.virtualNdv.vars.errors|length) ? 'has-error' }}">
                                    {{ form_widget(form.property.virtualNdv) }} {{ form_label(form.property.virtualNdv) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    {{ form_row(form.submit) }}
                </p>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}

{% if 'billing' == component %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('datetimepicker/css/datetimepicker.min.css') }}">
    {% endblock %}
{% endif %}

{% block javascripts %}
    {% if 'billing' == component %}
        <script type="text/javascript" src="{{ asset('datetimepicker/js/moment-with-locales.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('datetimepicker/js/datetimepicker.min.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // DateTimepicker
                $('.yearpicker').datetimepicker({viewMode: 'years',format: 'YYYY'});
            });
        </script>
    {% elseif 'address' == component %}
        <script type="text/javascript">
            $(document).ready(function() {

                // Address logic
                var nbForm = '{{ form.addresses|length }}';

                hideButtons();

                $('#remove-address').on('click', function() {

                    if (confirm('Voulez vous vraiment supprimer l\'adresse n° ' + nbForm + ' ?')) {
                        document.getElementById('address' + nbForm + '-fieldset').remove();
                        nbForm--;

                        hideButtons();
                    }

                    return false;
                });

                $('#add-address').on('click', function() {

                    var prototype = $('#aft_site_comp_addresses').attr('data-prototype');

                    var addressContainer = '<div id="address' + nbForm + '-fieldset" class="col-md-6"><strong>Adresse</strong></div>';

                    var newForm = prototype.replace(/__name__/g, nbForm++);
                    newForm = $(addressContainer).append(newForm);
                    newForm.appendTo($('#address'));

                    hideButtons();

                    return false;
                });

                function hideButtons() {
                    if (0 == nbForm) {
                        $('#remove-address').hide();
                    } else {
                        $('#remove-address').show();
                    }

                    if (2 == nbForm) {
                        $('#add-address').hide();
                    } else {
                        $('#add-address').show();
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}
