{% extends 'base.html.twig' %}

{% trans_default_domain 'AFTSiteBundle' %}

{% block content %}
    <div class="row">
        <h2>
            {{ site.corporateName }}
        </h2>
    </div>
    {% for log in logs %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Action :</strong>
                            {% if log.action == 'update' %}
                                Modification
                            {% elseif log.action == 'create' %}
                                Création
                            {% endif %}
                        </li>
                        <li>
                            <strong>Date :</strong> {{ log.loggedAt|date('d/m/Y') }}
                        </li>
                        <li>
                            <strong>Version :</strong> N° {{ log.version }}
                        </li>
                        <li>
                            <strong>Champs :</strong>
                            <ul id="log-fields">
                                {% if log.data.code is defined %}
                                <li>
                                    {{'label.site.code'|trans }} : {{ log.data.code }}
                                </li>
                                {% endif %}
                                {% if log.data.corporateName is defined %}
                                <li>
                                    {{'label.site.corporateName'|trans }} : {{ log.data.corporateName }}
                                </li>
                                {% endif %}
                                {% if log.data.name is defined %}
                                <li>
                                    {{'label.site.name'|trans }} : {{ log.data.name }}
                                </li>
                                {% endif %}
                                {% if log.data.type is defined %}
                                <li>
                                    {{'label.site.type'|trans }} : {{ log.data.type.label }}
                                </li>
                                {% endif %}
                                {% if log.data.locality is defined %}
                                <li>
                                    {{'label.site.locality'|trans }} : {{ log.data.locality }}
                                </li>
                                {% endif %}
                                {% if log.data.supervisor.id is defined %}
                                <li>
                                    {{'label.site.supervisor'|trans }} : {{ log.data.supervisor.lastname }} {{ log.data.supervisor.firstname }}
                                </li>
                                {% endif %}
                                {% if log.data.parent.corporateName is defined %}
                                <li>
                                    {{'label.site.parent'|trans }} : {{ log.data.parent.corporateName }}
                                </li>
                                {% endif %}
                                {% if log.data.beginingActivityAt is defined %}
                                <li>
                                    {{'label.site.beginingActivityAt'|trans }} : {{ log.data.beginingActivityAt|date('d/m/Y') }}
                                </li>
                                {% endif %}
                                {% if log.data.disabledAt is defined %}
                                <li>
                                    Fin d'activité (Clôturé) : {{ log.data.disabledAt|date('d/m/Y') }}
                                </li>
                                {% endif %}
                                {% if log.data.subjectTva is defined %}
                                <li>
                                    {{'label.site.subjectTva'|trans }} : {{ (log.data.subjectTva) ? 'OUI' : 'NON' }}
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            {{ (log.username) ? 'Utilisateur : ' ~ log.username }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
