{% extends 'AFTSiteBundle:Site:search.html.twig' %}

{% trans_default_domain 'AFTSiteBundle' %}

{% block result %}
    {% if sites is not empty %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'label.site.code'|trans }}</th>
                    <th>{{'label.site.corporateName'|trans }}</th>
                    <th>{{'label.site.name'|trans }}</th>
                    <th>{{'label.site.type'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr data-path="{{ path('site_show', { 'id': site.id }) }}" {{ (site.isDisabled) ? 'class="danger"' }}>
                        <td>{{ site.code }}</td>
                        <td>{{ site.corporateName }}</td>
                        <td>{{ site.name }}</td>
                        <td>{{ site.type.label }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="col-md-12">
            <br />
            <div class="alert alert-warning">
                <strong>Attention!</strong> Aucun résultat ne correspond à votre recherche.
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('tbody tr').on('dblclick', function(e) {
                document.location.href = e.currentTarget.dataset.path;
            });
        });
    </script>
{% endblock %}
