{% extends 'base.html.twig' %}

{% block content %}
    <h1>
        <div class="row">
            Liste des sites
        </div>
    </h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group {{ (form.corporateName.vars.errors|length) ? 'has-error' }}">
                    {{ form_row(form.corporateName) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group {{ (form.code.vars.errors|length) ? 'has-error' }}">
                    {{ form_row(form.code) }}
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-4">
                <div class="form-group {{ (form.name.vars.errors|length) ? 'has-error' }}">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-3">
                <div class="form-group {{ (form.type.vars.errors|length) ? 'has-error' }}">
                    {{ form_row(form.type) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}

    {% block result %}
    {% endblock %}

{% endblock %}
