{% extends 'base.html.twig' %}

{% trans_default_domain 'AFTSiteBundle' %}

{% block content %}
    <div class="row">
        <h2>
            {{ site.corporateName }}
            {% if site.isDisabled %}
                <small><span class="label label-danger"><i>Inactif depuis le {{ site.disabledAt|date('d/m/Y') }}</i></span></small>
            {% endif %}
        </h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <strong>{{'label.site.code'|trans }} :</strong> {{ site.code }}
        </div>
        <div class="col-md-4">
            <strong>{{'label.site.name'|trans }} :</strong> {{ site.name }}
        </div>
        <div class="col-md-2">
            <strong>{{'label.site.type'|trans }} :</strong> {{ site.type.label }}
        </div>
        <div class="col-md-4">
            <strong>{{'label.site.locality'|trans }} :</strong> {{ site.locality|default('-') }}
        </div>
    </div><br /><br />
    {% if site.supervisor %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Responsable</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.supervisor.title'|trans }} :</strong> {{ site.supervisor.title|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.supervisor.name'|trans }} :</strong> {{ site.supervisor.lastname ~ ' ' ~ site.supervisor.firstname }}
                        </li>
                        <li>
                            <strong>{{'label.supervisor.mail'|trans }} :</strong> {{ site.supervisor.mail }}
                        </li>
                        <li>
                            <strong>{{'label.role.label'|trans }} :</strong> {{ site.supervisor.role.label }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.parent %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Site parent
                    <a class="pull-right" href="{{ path('site_show', { 'id' : site.parent.id }) }}">
                        <span class="glyphicon glyphicon-share-alt"></span> Aller sur le site parent
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.site.corporateName'|trans }} :</strong> {{ site.parent.corporateName }}
                        </li>
                        <li>
                            <strong>{{'label.site.name'|trans }} :</strong> {{ site.parent.name }}
                        </li>
                        <li>
                            <strong>{{'label.site.type'|trans }} :</strong> {{ site.parent.type.label }}
                        </li>
                        <li>
                            <strong>{{'label.site.locality'|trans }} :</strong> {{ site.parent.locality }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li>
                                <strong>{{'label.site.activityNumber'|trans }} :</strong> {{ site.activityNumber|default('-') }}
                            </li>
                            <li>
                                <strong>{{'label.site.domain'|trans }} :</strong> {{ site.domain|default('-') }}
                            </li>
                            <li>
                                <strong>{{'label.site.codeApeNaf'|trans }} :</strong> {{ site.codeApeNaf|default('-') }}
                            </li>
                            <li>
                                <strong>{{'label.site.beginingActivityAt'|trans }} :</strong> {{ site.beginingActivityAt|date('d/m/Y') }}
                            </li>
                            <li>
                                <strong>{{'label.site.subjectTva'|trans }} :</strong> {{ (site.subjectTva) ? 'OUI' : 'NON' }}
                            </li>
                            <li>
                                <strong>{{'label.site.openingTime'|trans }} :</strong> {{ site.openingTime|default('-') }}
                            </li>
                            <li>
                                <strong>{{'label.site.websiteUrl'|trans }} :</strong> <a href="{{ site.websiteUrl }}">{{ site.websiteUrl }}</a>
                            </li>
                            <li>
                                <strong>{{'label.site.mail'|trans }} :</strong> <a href="mailto:{{ site.mail }}">{{ site.mail }}</a>
                            </li>
                            <li>
                                <strong>{{'label.site.numSiret'|trans }} :</strong> {{ (site.numSiren and site.numIc) ? site.numSiren ~ ' ' ~ site.numIc : '-' }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            {% for address in site.addresses %}
                                <div class="col-md-6">
                                    <strong>Adresse {{ loop.index }}</strong>
                                    <address>
                                        <div class="row">
                                            {{ address.streetNumber }} {{ address.streetLine1 }}
                                        </div>
                                        <div class="row">
                                            {{ address.streetLine2 }}
                                        </div>
                                        <div class="row">
                                            {{ address.streetLine3 }}
                                        </div>
                                        <div class="row">
                                            {{ address.streetLine4 }}
                                        </div>
                                        <div class="row">
                                            {{ address.cityName|capitalize }}
                                            {{ address.zipCode }}{{ (address.cityCode) ? ' (' ~ address.cityCode ~ ')' }},
                                        </div>
                                        <div class="row">
                                            {% if address.departement %}
                                                {{ address.departement.label }},
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            {% if address.departement %}
                                                {{ address.departement.region.label }}
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            {{ address.countryFull|upper }}
                                        </div>
                                        <div class="row">
                                            <abbr title="{{'label.address.phoneNumber'|trans }}">T:</abbr> ({{ address.phoneCode }}) {{ address.phoneNumber }}
                                        </div>
                                        <div class="row">
                                            {% if address.faxNumber %}
                                                <abbr title="{{'label.address.faxNumber'|trans }}">F:</abbr> ({{ address.phoneCode }}) {{ address.faxNumber }}
                                            {% endif %}
                                        </div>
                                    </address>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('site_edit', { 'id' : site.id }) }}" role="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Editer
                    </a>
                    <a href="{{ path('site_log', { 'id' : site.id }) }}" role="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Historique
                    </a>

                </div>
                <div class="col-md-6">
                    {% if 0 != site.addresses|length %}
                        <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'address' }) }}" role="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> Editer / Ajouter une adresse
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if site.bank %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Banque
                    <small>
                        <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'bank' }) }}">
                            [Modifier]
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.bank.bankName'|trans }} :</strong> {{ site.bank.bankName }}
                        </li>
                        <li>
                            <strong>{{'label.bank.branchCode'|trans }} :</strong> {{ site.bank.branchCode }}
                        </li>
                        <li>
                            <strong>{{'label.bank.sortCode'|trans }} :</strong> {{ site.bank.sortCode }}
                        </li>
                        <li>
                            <strong>{{'label.bank.accountNumber'|trans }} :</strong> {{ site.bank.accountNumber }}
                        </li>
                        <li>
                            <strong>{{'label.bank.ribKey'|trans }} :</strong> {{ site.bank.ribKey }}
                        </li>
                        <li>
                            <strong>{{'label.bank.iban'|trans }} :</strong> {{ site.bank.iban }}
                        </li>
                        <li>
                            <strong>{{'label.bank.tvaIntracomNumber'|trans }} :</strong> {{ site.bank.tvaIntracomNumber|default('-') }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.billing %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Facturation
                    <small>
                        <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'billing' }) }}">
                            [Modifier]
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.billing.year'|trans }} :</strong> {{ site.billing.year }}
                        </li>
                        <li>
                            <strong>{{'label.billing.domain'|trans }} :</strong> {{ site.billing.domain }}
                        </li>
                        <li>
                            <strong>{{'label.billing.teamId'|trans }} :</strong> {{ site.billing.teamId|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.billing.team'|trans }} :</strong> {{ site.billing.team|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.billing.mention'|trans }} :</strong> {{ site.billing.mention|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.billing.mode'|trans }} :</strong> {{ site.billing.mode|default('-') }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.property %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Gestion
                    <small>
                        <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'property' }) }}">
                            [Modifier]
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.property.adonixCode'|trans }} :</strong> {{ site.property.adonixCode }}
                        </li>
                        <li>
                            <strong>{{'label.property.territoryCode'|trans }} :</strong> {{ site.property.territoryCode }}
                        </li>
                        <li>
                            <strong>{{'label.property.selligentCode'|trans }} :</strong> {{ site.property.selligentCode|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.aftManagementCode'|trans }} :</strong> {{ site.property.aftManagementCode|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.iftimManagementCode'|trans }} :</strong> {{ site.property.iftimManagementCode|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.aftralManagementCode'|trans }} :</strong> {{ site.property.aftralManagementCode }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.property.transportCode'|trans }} :</strong> {{ site.property.transportCode|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.logisticCode'|trans }} :</strong> {{ site.property.logisticCode|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.cqcNumber'|trans }} :</strong> {{ site.property.cqcNumber|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.cadrNumber'|trans }} :</strong> {{ site.property.cadrNumber|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.adCode'|trans }} :</strong> {{ site.property.adCode|default('-') }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>
                            <strong>{{'label.property.backgroundColor'|trans }} :</strong> {{ site.property.backgroundColor|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.textColor'|trans }} :</strong> {{ site.property.textColor|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.serverIp'|trans }} :</strong> {{ site.property.serverIp|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.serverName'|trans }} :</strong> {{ site.property.serverName|default('-') }}
                        </li>
                        <li>
                            <strong>{{'label.property.virtualNdv'|trans }} :</strong> {{ (site.property.virtualNdv) ? 'OUI' : 'NON' }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-12">
        {% if not site.isDisabled %}
            <a href="{{ path('site_disable', { 'id' : site.id }) }}" role="button" class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-remove"></span> {{'button.disable'|trans }}
            </a>
        {% endif %}
        {% if not site.addresses|length %}
            <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'address' }) }}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{'button.address'|trans }}
            </a>
        {% endif %}
        {% if not site.bank %}
            <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'bank' }) }}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{'button.bank'|trans }}
            </a>
        {% endif %}
        {% if not site.billing %}
            <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'billing' }) }}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{'button.billing'|trans }}
            </a>
        {% endif %}
        {% if not site.property %}
            <a href="{{ path('site_edit_comp', { 'id' : site.id, 'component' : 'property' }) }}" role="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{'button.property'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}
